<ion-header>
  <ion-toolbar class="ion-text-center">
      <ion-card no-margin>
          <ion-card-header color="primary">
              <ion-card-title>
                  Total: {{monthAmount.toFixed(2)| currency:'SEK '}}
              </ion-card-title>
              <ion-card-subtitle class="font-size">
                  {{searchMonth}}
              </ion-card-subtitle>
          </ion-card-header>
          <ion-footer>
              <ion-row>
                  <ion-col size="4">
                      <ion-button color="primary" expand="full" fill="solid" (click)="selected.open()">Date</ion-button>
                      <ion-datetime hidden
                                    #selected
                                    pickerFormat='YYYY-MM'
                                    [value]="selectedDate.toISOString()"
                                    (ionChange)="changeSelectedDate(selected.value)"
                      ></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                      <ion-button expand="full" fill="solid" (click)="selectedValue.open()">Type</ion-button>
                      <ion-item hidden>
                          <ion-select interface="popover" #selectedValue>
                              <ion-select-option
                                      *ngFor="let type of expenseTypes | keyvalue">{{type.value}}</ion-select-option>
                          </ion-select>
                      </ion-item>
                  </ion-col>
                  <ion-col size="4">
                      <ion-button expand="full" fill="solid" (click)="priceFilter()">
                          Sort
                          <ion-icon *ngIf="filterByPrice"
                                    [name]="filterByPriceUp ? 'arrow-up' : 'arrow-down'"></ion-icon>
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-footer>
      </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let expense of expenses | catagory: selectedValue.value">
      <ion-toolbar color="primary">
        <ion-title class="font-size marginleft">SEK {{expense.amount.toFixed(2)}}</ion-title>
          <ion-buttons slot="end">
              <ion-button>
                  <ion-icon  name="help-circle-outline"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="pencil-outline" size="small"></ion-icon>
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
      <ion-card-content>
          <ion-text>
              {{expense.description}}
          </ion-text>
          <ion-grid>
              <ion-row>
                  <ion-col size="6" >
                      {{expense.createTime | date}}
                  </ion-col>
                  <ion-col size="6">
                      {{expense.expenseType}}
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-text color="dark" [hidden]="hiddenNoMore">
    <h5 align='center'>no more...</h5>
  </ion-text>

  <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()" color="success">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
